# Backend API Environment Variable

# For local development, use this URL:
# VITE_API_URL=http://localhost:4000

# For production (Firebase Functions), use your deployed function URL:
#A link like this is used in production by firebase https://.cloudfunctions.net/api
VITE_API_URL = 
